.banner-avatar {
  position: relative;
  background-color: black;
  height: 220px;
  margin-bottom: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .avatar {
    position: absolute;
    bottom: -50px;
    left: 20px;
    background-color: black;
    width: 150px;
    height: 150px;
    border: 4px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}